@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* ELEMENTOS DA INTERFACE */

body {
    background-color: #2b1414;
    background-image: linear-gradient(180deg, #1f7e0c, #122010);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

div, header, main, section, article {
    max-width: 700px;
}

div#id_resultados{
    display: none;
}

div{
    background-color: white;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px black;
    text-align: center;
    background-color: rgb(30, 255, 0);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
    text-transform: uppercase;
}

h2 {
    color: #372991;
}

h3 {
    background-color: rgba(145, 41, 41, 0.4);
    padding: 7px 7px;
    border-radius: 5px;
    font-weight: lighter;
}

main, section {
    background-color: white;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
}

footer {
    color: white;
    text-align: center;
    padding: 5px;
    font-style: italic;
    font-size: 10px;
}

p {
    text-align: center;
    line-height: 1.5em;
}

a {
    color: #15142b;
    background-color: rgba(55, 41, 145, 0.1);
    padding: 0 3px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: .5px dotted #372991;
}

a:hover {
    color: #372991;
    border-bottom: 1px solid #372991;
}

/* TABELAS E LISTAS */

table {
    background-color: rgba(58, 145, 41, 0.4);
    padding: 7px;
    border-radius: 5px;
}

table th {
    color: white;
    text-align: center;
}

table td {
    text-align: center;
}

ul{
    list-style-type:none;
}

li{
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 20px;
}

/* ELEMENTOS DE FORMULÃRIO */

form {
    background-color: rgba(41, 165, 30, 0.2);
    padding: 15px;
    border-radius: 10px;
}

form label {
    display: block;
    width: fit-content;
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(62, 145, 41, 0.329);
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

input[type=text], [type=number], select, input[type=date], input[type=date], input[type=datetime], input[type=email], input[type=month], input[type=password], input[type=range], input[type=tel], input[type=time], input[type=week] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    width: 100%;
    background-color: #eb9903;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #c27013;
}

input[type=button], button {
    width: 100%;
    background-color: #e40d0d;
    font-weight: bold;
    box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.6);
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover, button:hover {
    background-color: #f72525;
}

input#id_botao{
    width: 60%;
    display: block; /****CUIDADO COM ISSO****/
    margin: auto;
}

fieldset {
    border: 0.5px dotted #372991;
}

fieldset > legend {
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    border-radius: 5px;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
}

p#totalParc {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    background-color: rgba(255, 0, 0, 0.616);
    padding: 5px;
    border-radius: 5px;
}

span#moeda{
    color: white;
    font-weight: bold;
    background-color: #119b24;
    padding: 2px;
    border-radius: 5px;
}

.cabecalho{
    font-size: 20px;
}

td#valor{
    color: white;
    font-weight: bold;
    background-color: #e01e1e;
    border-radius: 5px;
    padding: 4px;
}

td#entrada{
    color: white;
    font-weight: bold;
    background-color: #f79503;
    border-radius: 5px;
    padding: 4px;
}

td#liquido{
    color: white;
    font-weight: bold;
    background-color: #282cee;
    padding: 4px;
    border-radius: 5px;
}

td#operador{
    color: black;
    font-size: 18px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 500px;
    font-weight: bolder;
}

hr{
    border: 2px solid red;
}